<p id="notice"><%= notice %></p>

<p>

<h1>  <%= @post.title %> </h1>
</p>
<p>
  posted by:
  <b> <%= User.find(@post.user_id).email %> </b>
</p>

<p>
  on
  <%= @post.created_at.strftime("%B %d, %Y %I:%M%p") %>
</p>

<div class="span5">
  <%= @post.content %>
</div>

<br />

<footer>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</footer>
